* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(219, 211, 211);
    padding: 15px;
   
}

.logo {
    height: 50px;

}

.imagem {
    height: 400px;
    width: 400px;

}

header{
    display: flex;
    flex-direction: column;
}

button{
    width: 60px;
    margin: 15px 0px;
}

.imagem2 {
    height: 300px;
    width: 300px;
}